/* base css for all */

/* colours */
/* body background #efefef
/* main text and selected menu link #666
/* heading color 

/* micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */

/* for modern browsers */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

 /* For IE 6/7 only to trigger hasLayout and contain floats */
.cf {
    *zoom: 1;
}

html {
	font-size: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto';
	font-weight: 300;
	color: var(--mainColor);
	background-color: var(--backgroundColor);
    max-width:;
    margin: 0 auto;
    padding: 0 1.1em;
}


/* masthead styles */

.c-masthead h1 {
	font-family: 'Raleway';
	font-weight: 100;
	color: var(--mainColor);
	/* text-align: center; */
	margin-top: 0;
}

.c-masthead a {
	color: inherit;
	text-decoration: none;
}
.c-main-nav ul {
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
    font-weight: 400;
    text-transform: uppercase;
}

.c-main-nav li {
	padding: 3px 0;
} 
.c-main-nav a {
	color: var(--navLinkColor);
	text-decoration: none;
	padding: 3px 10px;
    /* if floating horizontally display: block; */
}




/* social media */
.c-social-media img {
	width: 1.5em;
}
.c-social-media li {
	display: inline;
}
.c-social-media ul {
	float: right;
}
/* !!! hacking a solution to including incunabulum link in with social media
img._incunabulum {
	width: 3em;
} 
*/ 

/* main */

main {
	max-width:38em;
	margin: 0 auto;
	line-height: 1.4;
}

p:first-of-type {
	font-size: 1.35em;
}
.c-event-list {
	list-style: none;
}
/* footer */

footer {
	text-align: right;
}
.home footer {
        display: none;
    }

/* basic typography */ 

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway';
	font-weight: 400;
    color: var(--accentColor);
    text-rendering: optimizeLegibility;
	line-height: 1.2;
}
h2._news  {
	color: var(--mainColor);
	font-weight: 300;
}


p {
	margin-bottom:; 
}


ul, ol {
	margin:; 
}

blockquote {
	font-style: italic;
}

cite {
	font-style: italic;}


small, .meta {
	font-size:;
}
.meta {
	text-transform: uppercase;
}

/* links */
a {
	color: inherit;
}
a._outnow {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 3em;	
}

/* fluid images and video */ 

img, object, video {
	max-width: 100%;
}


.o-player {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 3em;
}
.o-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
	
/* 
.player video, .player object {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
} */



