/* custom properties */

:root {

	/* colors */

	--mainColor: #666;
	--backgroundColor: #efefef;
	--accentColor: #000;

	--headingColor: #000;

	--navLinkColor: #000;
	--navLinkHoverColor: #666;
	--linkColor: inherit;

	/* typography sizing */
	
	--baseFontSize: 16px;
	--baseLineHeight: 1.5;
	--baseUnit: calc(var(--baseFontSize) * var(--baseLineHeight));


}

/* custom selectors */

@custom-selector :--heading h1, h2, h3;
