/* custom properties */

:root {

	/* colors */

	--mainColor: #666;
	--backgroundColor: #efefef;
	--accentColor: #000;

	--headingColor: #000;

	--navLinkColor: #000;
	--navLinkHoverColor: #666;
	--linkColor: inherit;

	/* typography fonts and sizing */

	--bodyFont: "Roboto", "Droid Sans",
               "Trebuchet MS", Helvetica,
                Arial, sans-serif;
	--displayFont: ;
	--headingFont:"Raleway" "Droid Sans",
               "Trebuchet MS", Helvetica,
                Arial, sans-serif;
	--uiFont: "Raleway" "Droid Sans",
               "Trebuchet MS", Helvetica,
                Arial, sans-serif;
	
	--baseFontSize: 16px;
	--baseLineHeight: 1.5;
	--baseUnit: calc(var(--baseFontSize) * var(--baseLineHeight));


}

/* custom selectors */

@custom-selector :--heading h1, h2, h3, h4, h5, h6
